<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Furniture Website - Admin Login</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-image: url("/furni-1.0.0/images/black-furniture-style-minimalist-backgrounds_993456-615.jpg"); 
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .container {
      background-color: rgba(255, 255, 255, 0.7);
      padding: 30px;
      border-radius: 10px;
      max-width: 400px;
      width: 100%;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }

    .container h1 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-group label {
      display: block;
      font-size: 14px;
      margin-bottom: 5px;
      color: #555;
    }

    .form-group input {
      width: 100%;
      padding: 10px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .form-group input:focus {
      outline: none;
      border-color: #007BFF;
    }

    .btn {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .btn-signin {
      background-color: #007BFF;
      color: #fff;
    }

    .btn-signin:hover {
      background-color: #0056b3;
    }

    @media (max-width: 500px) {
      .container {
        padding: 20px;
      }
    }

    .error-message{
      color: red;
      font-size: 0.75rem;
      display: none;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Admin Login</h1>

    <form id="admin-login-form" method="post" action="/admin/admin-login">
      <div class="form-group">
        <label for="admin-email">Email Address</label>
        <input type="email" id="admin-email" name="email" placeholder="Enter email" required>
      </div>
      <div class="form-group">
        <label for="admin-password">Password</label>
        <input type="password" id="admin-password" name="password" placeholder="Enter password" required>
      </div>
      <button type="submit" class="btn btn-signin">Login</button>
    </form>
  </div>
</body>
</html>
