






<%- include("../../views/partials/admin/header") %>
<div class="main-content">
    <div class="topbar">
        <h1>Dashboard</h1>
        <div class="profile"></div>
    </div>
</div>
<%- include("../../views/partials/admin/footer") %>
